@import "tailwindcss";
@import 'tw-animate-css';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


h1{
  @apply text-6xl leading-tight tracking-[-2px] font-semibold;
}
h2{
  @apply text-3xl text-blue-800 hover:capitalize hover:font-bold
}
  
/* ------------------------------------------------------- */

@layer components{

  .back_button{
    @apply flex flex-row items-center gap-2 border border-yellow-400 rounded-lg p-2 shadow-sm;
  }

  .form_div {
    @apply flex flex-col gap-2 w-full items-start;
  }

  .main_section {
    @apply flex flex-col items-center gap-8 pt-12 mx-15 pb-5;
  }
  
  .navbar{
    @apply bg-gray-800 flex flex-row justify-between items-center rounded-full p-4 w-full px-10 max-w-[1200px] mx-auto;
  }

  .page_heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center;
  }

  .text_gradient{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#8c99ab] via-[#3a4454] to-[#6272c2];
  }
  .gradient_border{
    @apply bg-gradient-to-b from-blue-100 to-blue-200 p-4 rounded-2xl;
  }

  .primary_button {
    @apply primary_gradient hover:primary_gradient_hover text-white rounded-full px-4 py-2 cursor-pointer w-full;
  }

  .resumes_section {
    @apply flex flex-wrap max-lg:flex-col gap-6 items-start  w-full max-w-[1850px] justify-evenly;
  }
  .resume_card {
    @apply bg-blue-400 flex flex-col gap-4 h-[560px] w-full lg:w-[450px] xl:w-[490px] rounded-2xl p-4;
  }
  .resume_card_header {
    @apply bg-blue-500 flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
  }

  .auth_button {
    @apply text-white primary_gradient rounded-full py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-3xl font-semibold;
  }

  .uploader_selected_file{
    @apply flex items-center justify-between p-3 bg-gray-900 rounded-2xl;
  }

  .resume_nav{
    @apply flex flex-row justify-between items-center p-4 border-b border-blue-700;
  }

  .feedback_section {
    @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
  }
}

@utility primary_gradient {
  background: linear-gradient(to bottom, #000, #6272c2);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary_gradient_hover {
  background: linear-gradient(to bottom, green, red);
}